body {
  background-color: #000;
  color: #fff;
}

.title {
  padding: 55px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.car {
  color: #000;
  margin: 30px;
}
.car2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.heading {
  display: flex;
  padding: 20px;
  justify-content: center;
}
